{% load static %}
<!doctype html>
<html lang="en">

<head>
	<title>Login</title>
	{% include 'messages.html' %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/{% static 'css/font-awesome.min.css'%}">

	<link rel="stylesheet" href="{% static 'css/style.css'%}">

</head>

<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Forgot Password</h2>
					
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<form method="post" action="{% url 'accounts:forgot' %}" class="login-form">
							{% csrf_token %}
							<div class="form-group">
							</div>
							<div class="form-group d-flex">
								<input type="email" name="email" class="form-control rounded-left"
									placeholder="Email" required>
							</div>
							<div class="small">
                                <a href="{% url 'accounts:signup' %}">Create A New Account</a><br><br>
                                <a href="{% url 'accounts:login' %}">Back To Login</a><br>
                            </div>
							<div class="form-group">
								<button type="submit" class="btn btn-success rounded submit p-3 px-5">Send Email</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'js/jquery.min.js'%}"></script>
	<script src="{% static 'js/popper.js'%}"></script>
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
	<script src="{% static 'js/main.js'%}"></script>

</body>

</html>