{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block container %}
<br/><br/><br/><br/><br/><br/><br/><br/>

<body>
	<h1 class="text-primary text-center">Password reset</h1>
	<br/>
	<p class="text-center">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
</body>



<form method="post">
	{% csrf_token %}
	<div class="form-control">
		<div class="col-6">
			{{form|crispy}}
		</div>
	<input type="Submit" class="btn btn-outline-primary mt-3" style="width: 90px;"  name="Send email">
</div>
</form>
{% endblock %}