{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block container %}
<br/><br/><br/><br/><br/><br/><br/><br/>

<body>
    <h1 class="text-primary text-center">Password change</h1>
    <br/>
    <p class="text-center">Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
</body>

<form method="post">
    {% csrf_token %}
    <div class="form-control">
        <div class="col-6">
            {{form|crispy}}
        </div>
        <input type="submit" class="btn btn-outline-primary mt-3" style="width: 90px;" name="Change My Password">
    </div>
</form>
{% endblock %}